splinter==0.5.4
selenium==2.34.0
fabric==1.8.0
path.py==4.4
requests==2.0.1
nose

# bok-choy framework
-e git+https://github.com/edx/bok-choy.git@d0d69d4a7739a24fa4f48ef6e3973c638ed8ba75#egg=bok_choy
